In [2]:
import findspark
findspark.init('/home/pratik/spark-2.2.1-bin-hadoop2.7')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('op1').getOrCreate()

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('op1').getOrCreate()

In [6]:
df = spark.read.csv('ContainsNull.csv', inferSchema=True, header=True)

In [7]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [12]:
#df.na.drop(thresh=2).show()

In [15]:
#df.na.drop(how='all').show()
df.na.drop(how='any').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [17]:
df.na.drop(subset=['Sales']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [18]:
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sales: double (nullable = true)

In [22]:
df.na.fill('NullVal',subset=['Name']).show()

+----+-------+-----+
|  Id|   Name|Sales|
+----+-------+-----+
|emp1|   John| null|
|emp2|NullVal| null|
|emp3|NullVal|345.0|
|emp4|  Cindy|456.0|
+----+-------+-----+

In [23]:
from pyspark.sql.functions import mean

In [38]:
mean = df.select(mean(df['Sales'])).collect()[0][0]

TypeError: 'DataFrame' object is not callable

In [40]:
df.na.fill(df.select(mean(df['Sales'])).collect()[0][0],['Sales']).show()

TypeError: 'DataFrame' object is not callable

In [34]:
df.select(mean(df['Sales']))

TypeError: 'DataFrame' object is not callable